<!DOCTYPE html>
<html>
<head>
	<title>Chairs</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>	
	<link rel="stylesheet" type="text/css" href="css/chairs.css">
</head>
<body>
	<div id="progressbar">
		<div id="innerBar"></div>
	</div>
	<h2></h2>
	<canvas id="canvas" width="600" height="600"></canvas>
	
	<div class = "container">
		<h1>Cyclohexane Chair Flip</h1>
		<img src="http://masterorganicchemistrycom.c.presscdn.com/wp-content/uploads/2014/05/chairview22.png">
		<hr>
		<p>Click on the green node and drag the line into the appropriate position (axial or equatorial) for the chair flip. </p>
		<br>
		<button id="start">Start Timed Mode</button>
		<button id="unlimited">Unlimited play</button>
		<a href="./chairs"><button id="playAgain">Play Again?</button></a>
		<a href="./"><button>Back</button></a>
		<br>
		<div id="score">0</div>
	</div>
	<script type="text/javascript" src="scripts/chairs.js"></script>
	<nav>
		<ul class="nav">
			<li><a href="/">Home</a></li>
			<li><a href="/alkanes">Alkanes</a></li>
			<li><a href="/alkenes">Alkenes</a></li>
			<li><a href="/newman">Newman Projections</a></li>
			<li><a href="/chairs">Chairs</a></li>
		</ul>
	</nav>
</body>
</html>