<!DOCTYPE html>
<html>
<head>
	<title>Orgo Games</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script type="text/javascript" src="https://web.chemdoodle.com/resources/js/ChemDoodleWeb.js"></script>
	<script type="text/javascript" src="scripts/chemdoodle_cyclohexane.js"></script>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="css/index.css">

</head>
<body>
	<div class="jumbotron">
		<h1> Organic Chemistry Studying Games</h1>
		<p>A series of drills as test prep for organic chemistry.</p>
		<p id='ast'>*These games require some previous knowledge of principles.</p>
	</div>
	<div class="well">
		<div class="game">
			<img id="methane" src="images/alkanes/methane.png">
			<a href="alkanes">Name that Alkane!</a>
			<ul>
				<li>Name the unbranched alkane according to the IUPAC system.</li>
				<li>You have 20 seconds.</li>
				<li>You have three strikes before the game ends.</li>
				<li>A strike is assigned if an incorrect answer is given, or the timer hits 0.</li>
			</ul>
		</div>
	</div>
	<div class="well">
		<div class="game" id="chair-fix">
			<canvas id="moviez">Your browser doesn't support HTML5 Canvas </canvas>
			<a href="chairs"> Chair Flips </a>
			<ul>
				<li>Click on a carbon and drag to draw a sidechain into the appropriate position for a chair flip.</li>
			</ul>
		</div>
	</div>
	<div class="well">
		<div class="game">
			<img src="images/alkenes/eoct3ene.png">
			<a href="alkenes">Name that Alkene!</a>
			<br>
			<ul>
				<li>Name the unbranched alkene according to the IUPAC system.</li>
				<li>You have 30 seconds.</li>
				<li>You have three strikes before the game ends.</li>
				<li>Only use the e,z notation for naming (Cahn–Ingold–Prelog priority rules).</li>
				<li>If the double bond is at Carbon #1, no 'e-' or 'z-' is placed before the name.</li>
				<li>The number of the carbon at which the double bond is located is placed after the prefix, but before the suffix.</li>
				<li>Don't forget dashes!</li>
			</ul>
		</div>
	</div>
	<div class="well">
		<div class="game">
			<img src="images/newman_projection_of_propane.png">
			<a href="newman"> Newman Projections </a>
			<ul>
				<li>Rotate the back carbon so that the molecule is in its lowest energy conformtion.</li>
			</ul>
		</div>
	</div>
	
</body>
</html>