<!DOCTYPE html>
<html>
<head>
	<title>Newman Projections</title>
	<link rel="stylesheet" type="text/css" href="css/newman.css">
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="scripts/propeller.js"></script>
	<script type="text/javascript" src="scripts/newman.js"></script>
</head>
<body>
	<h1> Newman Projections</h1>
	<canvas id="canvas"></canvas>
	<div class="projections">
		<img id="back" src="images/newman/newman_2_back.png">
		<img id="front" src="images/newman/newman_2_front.png">
	</div>
	<div class="molecule">
		<img id="molec" src="images/newman/newman_projections/6.11.png">
	</div>
	<p id= "stable">Stable!!!</p>
	<a href="/newman"><button>Next Projection</button></a>
	<nav>
		<ul class="nav">
			<li><a href="/">Home</a></li>
			<li><a href="/alkanes">Alkanes</a></li>
			<li><a href="/alkenes">Alkenes</a></li>
			<li><a href="/newman">Newman Projections</a></li>
			<li><a href="/chairs">Chairs</a></li>
		</ul>
	</nav>
</body>
</html>